.section-two {
  padding: 187px 153px;
  padding-bottom: 96px;
}

.section-two__heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-two__heading {
  text-align: center;
  font-size: 48px;
  margin: 0;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  background: linear-gradient(
    90deg,
    #111 -8.85%,
    #b1b1b1 58.84%,
    #696969 91.39%,
    #b1b1b1 116.12%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-two__heading-divider {
  margin-top: 20px;
  width: 126px;
  height: 1px;
  background-color: #111;
}

.section-two__features-list {
  margin: 0;
  padding: 0;
  margin-top: 135px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.features-list__feature-item {
}

.feature-item__header {
}

.feature-item__header__heading {
  text-align: center;
  font-size: 31px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  margin: 0;
}

.feature-item__header__divider {
  height: 1px;
  width: 126px;
  background-color: #111;
  margin: 0 auto;
  margin-top: 20px;
}

.feature-item__description {
  padding: 0;
  margin: 0;
  max-width: 417px;
  margin-top: 30px;

  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.feature-item__description__bold {
  font-weight: 450;
}

.feature-item__methods {
  row-gap: 30px;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  list-style-type: none;
}

.feature-item__methods__method {
  display: flex;
  align-items: center;
}

.feature-item__methods__method__indicator {
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 42px;
  background: #fff;
  margin-right: 20px;
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.25);
  color: #000;

  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.feature-item__methods__method span {
  color: #000;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-two__photos-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.photos-list__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 417px;
  margin: 0;
  padding: 0;
}

.photo-container {
  position: relative;
}

.photos-list__list-item__single-image {
  position: relative;
  z-index: 2;
  max-width: 360px;
}

.photos-list__list-item__double-image-container {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-divider {
  margin-top: 24px;
  height: 1px;
  width: 100%;
  background-color: #111;
  max-width: 360px;
}

.photo-item-1-decoration-left {
  position: absolute;
  bottom: 5px;
  left: -73px;
  z-index: 1;
}

.photo-item-1-decoration-right {
  position: absolute;
  bottom: 68px;
  right: -62px;
  z-index: 1;
}

.photo-item-2-decoration-left {
  position: absolute;
  bottom: 2px;
  left: -62px;
  z-index: 1;
}

.photo-item-2-decoration-right {
  position: absolute;
  bottom: 17px;
  right: -20px;
  z-index: 1;
}

.double-image {
  position: relative;
  z-index: 2;
}

.photo-item-3-decoration-left {
  left: -80px;
  top: 46px;
  position: absolute;
  z-index: 1;
}

.photo-item-3-decoration-right {
  right: -23px;
  bottom: 21px;
  position: absolute;
  z-index: 1;
}

.feature-item__image-mobile {
  display: none;
}

.feature-item__divider-mobile {
  display: none;
}
