.section-one {
  display: flex;
  flex-wrap: nowrap;
}

.section-one__main-image-container {
  position: relative;
  display: inline-block;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.section-one__description-container {
  display: inline-block;
  flex-basis: 50%;
  padding-top: 148px;
}

.section-one__main-image {
  width: 673px;
}

.section-one__description-container {
}

.section-one__description__heading {
  font-size: 120px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.section-one__description__heading__contrast {
  color: #ab303c;
}

.section-one__description__subheading {
  font-size: 48px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  background: linear-gradient(90deg, #111 -8.85%, #b1b1b1 116.12%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  margin-top: 33px;
}

.section-one__description__paragraph {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-top: 20px;
}

.section-one__description__cta {
  display: inline-flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  background-color: #30ab4c;
  color: #f6f6f6;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}
