@media screen and (min-width: 801px) and (max-width: 1500px) {
  .section-one {
    background-color: #f1f1f1;
    padding: 0 15px;
    flex-wrap: wrap;
    padding-bottom: 70px;
  }

  .section-one__main-image-container {
    position: relative;
    display: inline-block;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }

  .section-one__main-image-container .relative {
  }

  .section-one__main-image {
    max-height: calc(100dvh - 120px);
    width: auto;
  }

  .section-one__main-image-mobile {
    display: none;
  }

  .section-one__description-container {
    flex-basis: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .section-one__description__heading {
    font-size: 48px;
    margin-bottom: 24px;
  }

  .section-one__description__subheading {
    margin: 0;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    background: linear-gradient(90deg, #111 -8.85%, #b1b1b1 116.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .section-one__description__paragraph {
    color: #111;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .section-one__description__paragraph br {
    display: none;
  }

  .section-one__description__cta {
  }

  .section-one__main-image__decoration-left {
  }

  .section-one__main-image__decoration-right {
  }
}
